#title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#description {
    font-size: 1em;
    margin-bottom: 1em;
}

.jumbotron {
    padding: 30px;
}

small.form-text {
    display: inline-block;
    font-style: italic; 
    padding-left: 1em;
}

.form-inline > div > label {
    white-space: nowrap;
}

@media (max-width: 767px) {
    #nature-label {
        margin-bottom: 0px;
    }
}

@media (max-width: 575px) {
    #nature-label, #identify-label {
        text-align: center;
    }
}

textarea#comments {
    overflow: hidden;
    min-height: 2.5em;
}

@media (max-width: 767px) {
    #comments-label {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}