#title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#description {
    font-size: 1em;
    margin-bottom: 1em;
}

.jumbotron {
    padding: 30px;
}

small.form-text {
    display: inline-block;
    font-style: italic; 
    padding-left: 1em;
}

.form-inline > div > label {
    white-space: nowrap;
}

@media (max-width: 767px) {
    #nature-label {
        margin-bottom: 0;
    }
}

@media (max-width: 1199px) {
    #nature-label {
        margin-bottom: 0;
    }
}